/*General Styling applying to the entire page*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* This styling applies broadly to the entire body element */
body {
  background-color: #d9dcd6;
}

/* Styling applied to the header class not to confused with the element */
.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

/* header h1 element modifier */
.header h1 {
  display: inline-block;
  font-size: 48px;
}
/* Header seo modifier. This is modifying the SEO element in the header seperately */
.header h1 .seo {
  color: #d9dcd6;
}

/* navigation stylization in the header class */
.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

/* un ordered list stylization in the header class */
.header nav ul {
  list-style-type: none;
}

/* list item stylization in the header class */
.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

/* This effects the redirects and the styling of them */
a {
  color: #ffffff;
  text-decoration: none;
}

/* This is styling for the paragraph */
p {
  font-size: 16px;
}

/* This is styling for the hero class, primarily the image of the people in a meeting. */
.hero {
  height: 850px;
  width: 100%;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
  background-image: url("../images/digital-marketing-meeting.jpg");
}

/* classes assigned in the content section, the index.html will show specifics */
.float-left {
  float: left;
  margin-right: 25px;
}

/* classes assigned in the content section, the index.html will show specifics */
.float-right {
  float: right;
  margin-left: 25px;
}

/* Content section, all elements inside have this styling applied */
.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/* Benefits effects the sidebar that gives a brief list of benefits to seo */
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

/* The lead article for the sidebar for seo */
.benefit-lead {
  margin-bottom: 32px;
  color: #ffffff;
}

/* The branding article for the sidebar for seo */
.benefit-brand {
  margin-bottom: 32px;
  color: #ffffff;
}

/* The cost article for the sidebar for seo */
.benefit-cost {
  margin-bottom: 32px;
  color: #ffffff;
}

/* Below is styling for the h3 element in the lead article */
.benefit-lead h3 {
  margin-bottom: 10px;
  text-align: center;
}

/* Below is styling for the h3 element in the brand article */
.benefit-brand h3 {
  margin-bottom: 10px;
  text-align: center;
}

/* Below is styling for the h3 element in the cost article */
.benefit-cost h3 {
  margin-bottom: 10px;
  text-align: center;
}

/* Icon for the lead article */
.benefit-lead img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* Icon for the brand article */
.benefit-brand img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* Icon for the cost article */
.benefit-cost img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* First article in the main article section */
.search-engine-optimization {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/* Second article in the main article section */
.online-reputation-management {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/* Third article in the main article section */
.social-media-marketing {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/* accomanying image for the first main article about seo */
.search-engine-optimization img {
  max-height: 200px;
}

/* accomanying image for the second main article about seo */
.online-reputation-management img {
  max-height: 200px;
}

/* accomanying image for the third main article about seo */
.social-media-marketing img {
  max-height: 200px;
}

/* Heading for the first main article of the website */
.search-engine-optimization h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* Heading for the second main article of the website */
.online-reputation-management h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* Heading for the third main article of the website */
.social-media-marketing h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* styling for the footer of the page */
.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

/* styling for the header of the footer of the page */
.footer h2 {
  font-size: 20px;
}
